@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050A;
  color: #E2E8F0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none; /* Prevents pull-to-refresh on mobile */
}

/* Hide scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* TextType CSS */
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}